---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-categories {
  display: block;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }
}

.share-box {
  font-weight: bold;
  color: $grey-color-dark;
}
